[submodule "burr"]
	path = burr_src_code_for_llm_read
	url = https://github.com/apache/burr.git
[submodule "nicegui"]
	path = nicegui_src_for_llm_read
	url = https://github.com/zauberzeug/nicegui.git
